.anchor
.DS_Store
# To reuse the same keys every time, we commit the keypairs to git
target/*
!target/deploy/
target/deploy/*
!target/deploy/feels_protocol-keypair.json
!target/deploy/feels_token_factory-keypair.json
!target/deploy/feelssol_controller-keypair.json
**/*.rs.bk
node_modules
test-ledger
.yarn
