[features]
resolution = true
skip-lint = false

[programs.localnet]

[registry]
url = "https://anchor.projectserum.com"

[provider]
cluster = "localnet"

[scripts]
test = "cargo test -- --no-capture"
