[workspace]
members  = ["programs/*", "packages/*"]
resolver = "2"

[workspace.package]
authors    = ["Timewave Labs"]
edition    = "2021"
license    = "Apache-2.0"
version    = "0.1.0"
repository = "https://github.com/timewave-computer/feels-solana"

[profile.release]
overflow-checks = true
lto             = "fat"
codegen-units   = 1
[profile.release.build-override]
opt-level     = 3
incremental   = false
codegen-units = 1

[workspace.dependencies]
anchor-lang         = { version = "0.31.1" }
anchor-spl          = "0.31.1"
solana-program-test = "3.0.0"
solana-sdk          = "3.0.0"
solana-address      = "1.0.0"
solana-clock        = "3.0.0"
solana-program-pack = "3.0.0"
tokio               = { version = "1.47.1", features = ["macros", "rt-multi-thread"] }
feels-test-utils    = { path = "packages/test-utils" }
